<!-- Hero -->
<section id="about">
  <h1>{{ site.title }}</h1>
  <p class="muted">{{ site.description }}</p>
  <p>
    Focus areas: EDA, SQL Analytics, Making dashboards, Getting hands on with different domians of data and perform relevant analytics with respect to that with a bit of ML models and try deploying those in streamlit and huggigng face spaces.
  </p>
  <p class="small">Find me on
    <a href="https://github.com/prashanth-ds-ml">GitHub</a> ·
    <a href="https://www.linkedin.com/in/prashanth-katakam/">LinkedIn</a> ·
    <a href="prashanth01071995@gmail.com">Email</a>
  </p>
</section>